<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--suite name="TestSuite" thread-count="2" parallel="tests"-->
<suite name="TestSuite">
  <test name="ChromeTest">
  <parameter name="browser" value="Chrome" />
    <classes>
      <class name="MavenProject.UpsTest"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test name="FirefoxTest">
  <parameter name="browser" value="Firefox" />
    <classes>
      <class name="MavenProject.UpsTest"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
